Atalov S. (TSI AUCA)

#### Introduction to Machine Learning and Artificial Intelligence

---

# Midterm Exam 1 (Total: 10 points)
SEST-22

#### Policy Statement on Cheating

The cheating policy of this class will follow the policy of the college. Students are expected to know and comply with this policy. Cheating in this class includes: among the obvious, copying another person’s project or Individual work (in whole or in part), being caught talking during an exam/quiz. Since the person who assists in cheating is just as guilty as the person who is caught cheating – if two projects or individual works handed in are found to be the same, both students will be guilty of cheating. If a student is caught cheating on a quiz - the student will receive 0% on that quiz. 

!!!
**If a student is caught cheating on an exam - the student will receive a 0% for that exam.**
!!!

Repeated case of plagiarism will result in automatic failure of the course. If the student is caught a third time, the student's expulsion from the university follows.
NB: Plagiarism is a very serious question in the academic environment. The general rule to prevent plagiarism is to never pass off someone else's work as your own. Students are required to maintain high ethical standards when studying.

---

# Part 1. Data Analysis (2.5 p.)

train.csv - Personal records for about ~8700 of the passengers, to be used as training data.
* `PassengerId` - A unique Id for each passenger.
* `HomePlanet` - The planet the passenger departed from, typically their planet of permanent residence.
* `CryoSleep` - Indicates whether the passenger elected to be put into suspended animation for the duration of the voyage. Passengers in cryosleep are confined to their cabins.
* `Cabin` - The cabin number where the passenger is staying. Takes the form deck/num/side, where side can be either P for Port or S for Starboard.
* `Destination` - The planet the passenger will be debarking to.
* `Age` - The age of the passenger.
* `VIP` - Whether the passenger has paid for special VIP service during the voyage.
* `RoomService`, `FoodCourt`, `ShoppingMall`, `Spa`, `VRDeck` - Amount the passenger has billed at each of the Spaceship Titanic's many luxury amenities.
* `Name` - The first and last names of the passenger.
* `Transported` - Whether the passenger was transported to another dimension. **This is the target, the column you are trying to predict!**

In [196]:
# import libraries: pandas, matplotlib.pyplot, numpy
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [257]:
# read the 'train.csv'
df = pd.read_csv("train.csv")
df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

### 1.1 Which cabin type (`Cabin`) is the most popular among passengers? (0.5 p)

In [258]:
# value counts
df['Cabin'].value_counts().idxmax()

'G/734/S'

### 1.2 For each `Destination`, how many passengers have VIP status? (0.5 p)

In [259]:
# groupby
df.groupby('Destination')['VIP'].value_counts()

Destination    VIP
55 Cancri e    False    1692
               True       65
PSO J318.5-22  False     756
               True       18
TRAPPIST-1e    False    5667
               True      114
Name: VIP, dtype: int64

### 1.3 What is the average amount spent on the `RoomService`, `FoodCourt`, `ShoppingMall`, `Spa`, and `VRDeck`? Use `mean()` to find out. (0.5 p)

In [260]:
# mean
print('RoomService: ',df['RoomService'].mean())
print('FoodCourt: ', df['FoodCourt'].mean())
print('ShoppingMall: ', df['ShoppingMall'].mean())
print('Spa: ',df['Spa'].mean())

RoomService:  224.687617481203
FoodCourt:  458.07720329024676
ShoppingMall:  173.72916912197996
Spa:  311.1387779083431

### 1.4 How many passengers were transported (`Transported` column)? Calculate both the count and the proportion of transported vs. not transported. (0.5 p)

In [261]:
# use value_counts(normalize=True) to calculate percentage
df['Transported'].value_counts(normalize=True)

True     0.503624
False    0.496376
Name: Transported, dtype: float64

### 1.5 Is there a difference in the average age of passengers who were transported versus those who were not? Compare using `groupby()` and `mean()` on the `Transported` column. (0.5 p)

In [262]:

df.groupby('Age')['Transported'].mean()

Age
0.0     0.808989
1.0     0.731343
2.0     0.706667
3.0     0.786667
4.0     0.746479
          ...
75.0    0.500000
76.0    0.500000
77.0    0.500000
78.0    0.333333
79.0    0.000000
Name: Transported, Length: 80, dtype: float64

---
# Part 2. Machine Learning (7.5 p.)

In this competition your task is to predict whether a passenger was transported to an alternate dimension during the Spaceship Titanic's collision with the spacetime anomaly. To help you make these predictions, you're given a set of personal records recovered from the ship's damaged computer system.

* `Transported` - Whether the passenger was transported to another dimension. **This is the target, the column you are trying to predict!**

## 2.1. Data Preparing (3 p)

#### 2.1.1. Delete unnecessary columns (0.5 p.)

In [264]:
df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [265]:
# For the purpose of the exam let's delete 'PassengerId', 'Name', 'Cabin' columns
df = df.drop(columns=['PassengerId' ,'Name','Cabin' ])

#### 2.1.2. Fill in the missing values (1.5 p.)

```
HomePlanet (string)
Destination (string)

Age (numeric)
RoomService (numeric)
FoodCourt (numeric)
ShoppingMall (numeric)
Spa (numeric)
VRDeck (numeric)

VIP (bool)
CryoSleep (bool)
```

HINT: Use `df['column'].value_counts()` to look at the values and pick the most common value

In [266]:
# check the missing values
# isnull
df.isnull().sum()
for i in df.columns:
    print(f'{i} : {df[i].unique()} ')

HomePlanet : ['Europa' 'Earth' 'Mars' nan]
CryoSleep : [False True nan]
Destination : ['TRAPPIST-1e' 'PSO J318.5-22' '55 Cancri e' nan]
Age : [39. 24. 58. 33. 16. 44. 26. 28. 35. 14. 34. 45. 32. 48. 31. 27.  0.  1.
 49. 29. 10.  7. 21. 62. 15. 43. 47.  2. 20. 23. 30. 17. 55.  4. 19. 56.
 nan 25. 38. 36. 22. 18. 42. 37. 13.  8. 40.  3. 54.  9.  6. 64. 67. 61.
 50. 41. 57. 11. 52. 51. 46. 60. 63. 59.  5. 79. 68. 74. 12. 53. 65. 71.
 75. 70. 76. 78. 73. 66. 69. 72. 77.]
VIP : [False True nan]
RoomService : [   0.  109.   43. ... 1569. 8586.  745.]
FoodCourt : [   0.    9. 3576. ... 3208. 6819. 4688.]
ShoppingMall : [   0.   25.  371. ... 1085.  510. 1872.]
Spa : [   0.  549. 6715. ... 2868. 1107. 1643.]
VRDeck : [   0.   44.   49. ... 1164.  971. 3235.]
Transported : [False  True]

In [267]:
# hint: df[''].fillna(value = )
home = df['HomePlanet'].value_counts().idxmax()
df['HomePlanet']= df['HomePlanet'].fillna(value = home)

In [270]:
CryoSleep = df['CryoSleep'].value_counts().idxmax()
df['CryoSleep']= df['CryoSleep'].fillna(value = CryoSleep)

In [271]:
Destination  = df['Destination'].value_counts().idxmax()
df['Destination']= df['Destination'].fillna(value = Destination )

In [272]:
Age   = round(df['Age'].mean())
df['Age']= df['Age'].fillna(value = Age )

In [273]:
VIP = df['VIP'].value_counts().idxmax()
df['VIP']= df['VIP'].fillna(value = VIP )

In [274]:
RoomService   = round(df['RoomService'].mean())
df['RoomService']= df['RoomService'].fillna(value = RoomService )

In [275]:
FoodCourt   = round(df['FoodCourt'].mean())
df['FoodCourt']= df['FoodCourt'].fillna(value = FoodCourt )

In [276]:
ShoppingMall   = round(df['ShoppingMall'].mean())
df['ShoppingMall']= df['ShoppingMall'].fillna(value = ShoppingMall )

In [277]:
Spa   = round(df['Spa'].mean())
df['Spa']= df['Spa'].fillna(value = Spa )

In [278]:
VRDeck = round(df['VRDeck'].mean())
df['VRDeck']= df['VRDeck'].fillna(value = VRDeck )

In [279]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8693 non-null   object
 1   CryoSleep     8693 non-null   bool
 2   Destination   8693 non-null   object
 3   Age           8693 non-null   float64
 4   VIP           8693 non-null   bool
 5   RoomService   8693 non-null   float64
 6   FoodCourt     8693 non-null   float64
 7   ShoppingMall  8693 non-null   float64
 8   Spa           8693 non-null   float64
 9   VRDeck        8693 non-null   float64
 10  Transported   8693 non-null   bool
dtypes: bool(3), float64(6), object(2)
memory usage: 568.9+ KB

In [280]:
df.isnull().sum()
for i in df.columns:
    print(f'{i} : {df[i].unique()} ')

HomePlanet : ['Europa' 'Earth' 'Mars']
CryoSleep : [False  True]
Destination : ['TRAPPIST-1e' 'PSO J318.5-22' '55 Cancri e']
Age : [39. 24. 58. 33. 16. 44. 26. 28. 35. 14. 34. 45. 32. 48. 31. 27.  0.  1.
 49. 29. 10.  7. 21. 62. 15. 43. 47.  2. 20. 23. 30. 17. 55.  4. 19. 56.
 25. 38. 36. 22. 18. 42. 37. 13.  8. 40.  3. 54.  9.  6. 64. 67. 61. 50.
 41. 57. 11. 52. 51. 46. 60. 63. 59.  5. 79. 68. 74. 12. 53. 65. 71. 75.
 70. 76. 78. 73. 66. 69. 72. 77.]
VIP : [False  True]
RoomService : [   0.  109.   43. ... 1569. 8586.  745.]
FoodCourt : [   0.    9. 3576. ... 3208. 6819. 4688.]
ShoppingMall : [   0.   25.  371. ... 1085.  510. 1872.]
Spa : [   0.  549. 6715. ... 2868. 1107. 1643.]
VRDeck : [   0.   44.   49. ... 1164.  971. 3235.]
Transported : [False  True]

#### 2.1.3. Convert categorical variables (`HomePlanet` and `Destination`) into dummy variables (0.5 p.)

In [281]:
# hint: pd.get_dummies(df, columns=[])
df = pd.get_dummies(df, columns=['HomePlanet','Destination'])

In [282]:
df.isnull().sum()

CryoSleep                    0
Age                          0
VIP                          0
RoomService                  0
FoodCourt                    0
ShoppingMall                 0
Spa                          0
VRDeck                       0
Transported                  0
HomePlanet_Earth             0
HomePlanet_Europa            0
HomePlanet_Mars              0
Destination_55 Cancri e      0
Destination_PSO J318.5-22    0
Destination_TRAPPIST-1e      0
dtype: int64

In [283]:
df

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,False,39.0,False,0.0,0.0,0.0,0.0,0.0,False,0,1,0,0,0,1
1,False,24.0,False,109.0,9.0,25.0,549.0,44.0,True,1,0,0,0,0,1
2,False,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False,0,1,0,0,0,1
3,False,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False,0,1,0,0,0,1
4,False,16.0,False,303.0,70.0,151.0,565.0,2.0,True,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,False,41.0,True,0.0,6819.0,0.0,1643.0,74.0,False,0,1,0,1,0,0
8689,True,18.0,False,0.0,0.0,0.0,0.0,0.0,False,1,0,0,0,1,0
8690,False,26.0,False,0.0,0.0,1872.0,1.0,0.0,True,1,0,0,0,0,1
8691,False,32.0,False,0.0,1049.0,0.0,353.0,3235.0,False,0,1,0,1,0,0
8692,False,44.0,False,126.0,4688.0,0.0,0.0,12.0,True,0,1,0,0,0,1

#### 2.1.4. Split the data into X and y (0.25 p.)

In [284]:
X = df.copy()
y = X.pop('Transported')

#### 2.1.5. Split the data into train and test (0.25 p.)

In [285]:
# test = 20%
from sklearn.model_selection import train_test_split as tts
X_train , X_test , y_train , y_test= tts(X,y,test_size=0.2)

## 2.2. kNN (1 p)

#### 2.2.1. Fit a kNN Model (sklearn) on train data (0.5 p.)

In [286]:
from sklearn.neighbors import KNeighborsClassifier

In [287]:
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train,y_train)

KNeighborsClassifier()

#### 2.2.2. Show the score on train and test data (0.5 p.)

In [288]:
# score on train data
knn.score(X_train,y_train)

0.825136612021858

In [289]:
# score on test data
knn.score(X_test,y_test)

0.7642323174238068

## 2.3. Logistic Regression (1 p)

#### 2.3.1. Fit a Logistic Regression Model on train data (0.5 p.)

In [292]:
from sklearn.linear_model import LogisticRegression
log = LogisticRegression()

#### 2.3.2. Show the score on train and test data (0.5 p.)

In [291]:
# score on train data
log.fit(X_train,y_train)

LinearRegression()

In [228]:
# score on test data
log.score(X_train,y_train)

0.3439908629032111

In [229]:
log.score(X_test,y_test)

0.34035780032578855

## 2.4. New Test Data (2.5 p)

#### 2.4.1. Prepare real test data exactly in the same way as training data. (1.5 p)

In [240]:
# read the 'test.csv'
df1 = pd.read_csv('test.csv')

In [241]:
df1

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley

In [242]:
# Prepare real test data exactly in the same way as training data
df1 = pd.get_dummies(df1, columns=['HomePlanet','Destination'])
VRDeck = round(df1['VRDeck'].mean())
df1['VRDeck']= df1['VRDeck'].fillna(value = VRDeck )
Spa   = round(df1['Spa'].mean())
df1['Spa']= df1['Spa'].fillna(value = Spa )
ShoppingMall   = round(df1['ShoppingMall'].mean())
df1['ShoppingMall']= df1['ShoppingMall'].fillna(value = ShoppingMall )
FoodCourt   = round(df1['FoodCourt'].mean())
df1['FoodCourt']= df1['FoodCourt'].fillna(value = FoodCourt )

RoomService   = round(df1['RoomService'].mean())
df1['RoomService']= df1['RoomService'].fillna(value = RoomService )

VIP = df1['VIP'].value_counts().idxmax()
df1['VIP']= df1['VIP'].fillna(value = VIP )
Age   = round(df1['Age'].mean())
df1['Age']= df1['Age'].fillna(value = Age )
Destination  = df1['Destination'].value_counts().idxmax()
df1['Destination']= df1['Destination'].fillna(value = Destination )

CryoSleep = df1['CryoSleep'].value_counts().idxmax()
df1['CryoSleep']= df1['CryoSleep'].fillna(value = CryoSleep)
home = df1['HomePlanet'].value_counts().idxmax()
df['HomePlanet']= df1['HomePlanet'].fillna(value = home)
df1 = df1.drop(columns=['PassengerId' ,'Name','Cabin' ])

KeyError: 'Destination'

In [246]:
df1 =df1.drop(columns=['PassengerId' ,'Name','Cabin' ])

In [247]:
df1

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,True,27.0,False,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,1
1,False,19.0,False,0.0,9.0,0.0,2823.0,0.0,1,0,0,0,0,1
2,True,31.0,False,0.0,0.0,0.0,0.0,0.0,0,1,0,1,0,0
3,False,38.0,False,0.0,6652.0,0.0,181.0,585.0,0,1,0,0,0,1
4,False,20.0,False,10.0,0.0,635.0,0.0,0.0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,True,34.0,False,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,1
4273,False,42.0,False,0.0,847.0,17.0,10.0,144.0,1,0,0,0,0,1
4274,True,29.0,False,0.0,0.0,0.0,0.0,0.0,0,0,1,1,0,0
4275,False,29.0,False,0.0,2680.0,0.0,0.0,523.0,0,1,0,0,0,0
4276,True,43.0,False,0.0,0.0,0.0,0.0,0.0,1,0,0,0,1,0

#### 2.4.2. Make predictions and save as `csv` file (1 p)

```python
# make predictions
y_pred = model.predict(df_test)

# create dataframe from predictions array
df_predictions = pd.DataFrame({
    'my_prediction': y_pred
})


# save dataframe as csv file
df_predictions.to_csv('studentname_predictions.csv', index=False)
```

---
#### Congratulations! 

You've done a great job!

<!-- Prepared by Atalov S. -->



<div>
    <img src="https://media.tenor.com/4d4VLoLuZNkAAAAM/hooray-letsgo.gif"/>
</div>

<!-- Prepared by Atalov S. -->